certifi
charset-normalizer
click
colorama
cycler
docopt
Flask
fonttools
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
more-itertools
numpy
packaging
pandas
pickle4
Pillow
pipreqs
pyparsing
python-dateutil
pytz
regex
requests
scikit-learn
scipy
seaborn
six
sklearn
threadpoolctl
urllib3
Werkzeug
yarg
gunicorn
